:root {
    --generalColor: rgba(0, 0, 0, 0.742);
    --loadingBG: rgba(66 66 63 / 61%);
    --bgColor: rgb(253, 253, 247); 
    --bgColorDark: #bfbdbdce;
    --veryDark:rgba(0,0,0,0.8);
    --transition:background-color 0.2s ease-in-out
}
.rootTable{
    color: var(--generalColor);
    font-size: 16px;
    max-height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid var(--bgColorDark);
    background-color: var(--bgColor);
    box-shadow: 3px 3px 3px var(--bgColorDark);
}
.rootTable table.table{
    width:60vw;
    border:1px solid var(--bgColorDark);
}
.rootTable .logoSpace{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0 20px 0;
    border-bottom:2px solid var(--bgColorDark);
    align-items: center;
}
.rootTable .logoSpace h5{
    font-size: .85em;
    font-weight: bold;
}

.rootTable .logoSpace img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.uiBody{
    display:grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 100%;
    grid-template-areas:
        "sidebar main";
    width: 100%;
    height: 100vh;
    max-height: 800px;
}
.uiBody .sidebar{
    grid-area: sidebar;
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    
}
.uiBody nav {
    border-right:2px solid var(--bgColorDark);
}
.uiBody nav ul{
    list-style: none;
    padding:0;
    margin:0;
    max-height: 800px;
}
.uiBody nav ul li{
    background-color: var(--bgColor);
    border-bottom: 1px solid var(--bgColorDark);
    height: 42vh;
}
.uiBody nav ul li:hover{
    background-color: var(--bgColorDark);
    transition: var(--transition);
}
.uiBody nav ul li:last-child{
    border-bottom: none;
}
.uiBody nav ul li > div{
    width: 100%;
    height: 100%;
    text-align: center;
}
nav ul li input[type="radio"] {
    display: none;
}

nav ul li label {
    cursor: pointer;
    display: inline-block;
    max-height:400px;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li input[type="radio"]:checked + label {
    background-color: var(--bgColorDark);
}

.uiBody main{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes loading {
    0% {
        color: var(--bgColor);
    }
    50%{
        color: var(--bgColorDark);
        }
    100% {
        color: var(--bgColor);
    }
}

.loading{
    width: 100%;
    height: 100%;
    background-color: var(--loadingBG);
    position: absolute;
    top:0;
    left:0;
}
.loading > span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2em;
    font-weight: bold;
    color: var(--bgColorDark);
    animation: loading 2s linear infinite;
}

.uiBody .tableContainer{
    max-height: 700px;
    overflow: hidden;
    position: relative;
    overflow-y: scroll;
}
.uiBody .tableContainer > p {
    position: sticky;
    top: 0;
    background-color: var(--bgColor);
    padding: 20px 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

tr{
    outline: 2px solid var(--bgColorDark);
}
tbody tr:hover{
    background-color: var(--bgColorDark);
    transition: var(--transition);
}

td {
    border-right: 1px solid var(--bgColorDark);
    text-align: center;
}
td:last-child {
    border-right: none
}
.uiBody .table > thead {
    position: sticky;
    top: 60px;
    left: 0;
    background-color: var(--bgColor);
    height: 50px;
}

.uiBody  tbody.tableBody  {
    overflow-y: scroll;
    background-color: var(--bgColor);
} 